*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 1400px;
  margin: 0 auto;
  background-color: white;
}


/* creiamo delle classi utility per tutto il lavoro */

/* la classe float */
.fl{
  float: left;
}

/* la nostra classe di tipo clear */
.clear:after{
  content: "";
  display: table;
  clear: both;
}

/* ci sono dei colori particolari che andiamo a individuare */

.orange{
  background-color: #ff8f59;
}

.acmarin{
  background-color: #F5F8Fa;
}

.celeste{
  background-color: #00a4bd;
}

.white{
  background-color: white;
}

.blunotte{
  background-color: #2d3e50;
}

.smorto{
  background-color: #b5dae0;
}

/* un colore per tutte le scritte di tipo H e il colore di sfondo del footer */
.scritte{
  color: #33475b;
  font-family: helvetica;
}

/* una classe margin per quelle parti di testo centrate rispetto al body */
.pd_10{
  padding: 10px;
}

.margin{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.margin2{
  width: 100%;
  padding-left: 15%;
}

.border{
  border: 1px solid black;
}

.uno{
  background-color: white;
  border: 2px solid #ff8f59;
  border-radius: 5px;
  color: #ff8f59;
  margin-left: 15px;
}

.lente{
  color: lightblue;
}

.due{
  background-color: #ff8f59;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}

.latsx{
  text-align: right;
}

.uno, .due, .english, .contact{
  font-size: 15px;
}

.navigazione{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

.nav{
  width: 50%;
  height: 60px;
}

.nav a{
  text-decoration: none;
  text-align: center;
}

.bd{
  border-bottom: 1px solid black
}

.english{
  border-right: 1px solid black;
  padding-right: 10px;
  font-weight: 500;
}

.contact{
  margin-left: 10px;
  padding-right: 5px;
}

.sotto{
  background-color: white;
}

.hubspot img{
  vertical-align: -10px;
}

.barra2{
  text-align: right;
}

.principale{
  margin-bottom: 10px;
  font-weight: 00;
  font-style: helvetica;
  font-size: 2em;
}

.marketing{
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 300px;
  line-height: 1.6;
  width: 375px;

}

.pulsantone{
  border-radius: 5px;
  color: white;
  font-family: helvetica;
  text-decoration: none;
  padding: 15px;
}

.small_tx{
  margin-top: 30px;
  font-size: 10px;
}

.sfondo{
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  height: 600px;
}

.titolo{
  width: 30%;
  height: 350px;
  padding-top: 70px;
}

.barra{
  width: 100%;
  background-color: #00c9ff;
}

.cubo{
  text-align: center;
  padding-top: 20px;
}

.explain{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.explain_2{
  font-weight: 500;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  line-height: 25px;
}

.libro{
  text-align: center;
}

.libro_1{
  /* width: 100px; */
  height: 150px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.pulsante{
  color: white;
  background-color: #ff8f59;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.Free{
  padding-top: 30px;
}


.Free_2{
  line-height: 25px;
  margin-right: 30px;
  padding-top: 30px;
  font-weight: 500;
}

.Free_3{
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: 20px;
}

.parte2 span{
  padding-left: 10px;
  padding-right: 10px;
}

.parte2 i{
  background-color: #ff8f59;
  color: white;
  border-radius: 50%;
  padding: 1px;
  font-size: 10px;
}



.sezione_1{
  height: 320px;

}

.sezione_free{
  height: 300px;

}

.parte1{
  width: 30%;
  height: 300px;
}

.parte2{
  width: 70%;
  height: 300px;
}

.tre_elem{
  height: 650px;
  padding-top: 30px;
  text-align: center;
}

.square1, .square2, .square3{
  width: 30%;
  height: 570px;
  border-radius: 10px;
  padding-bottom: : 20px;
}

.square2{
  margin:0 5%;
}

.LOGO1{
  padding: 10px;
  height: 150px;
  margin-bottom: 20px;
}

.LOGOTITLE{
  margin-bottom: 20px;
}

.LOGO_p{
  margin: 0 20px;
  line-height: 20px;
  font-size: 0.9em;
  margin-bottom: 40px;
}

.LOGO_h{
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}

.piccoline{
  text-align: left;
  padding-left: 30px;
  margin-bottom: 40px;
}

.cerchio{
  background-color: #ff8f59;
  color: white;
  border-radius: 50%;
  padding: 1px;
  font-size: 10px;
  margin-right: 5px;
}

.option{
  font-size: 0.9em;
}

.celestone{
  height: 500px;
  }

.row1{
  height: 200px;
  text-align: center;
  color: white;
}

.text{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.7em;
  padding-left: 30px;
  padding-right: 30px;
}


.row2{
  height: 300px;
}

.grid_1, .grid_2, .grid_3, .grid_4{
  height: 300px;
  width: 25%;
}

.dati{
  height: 150px;
}

.dati1{
  height: 150px;
  width: 30%;
}

.dati2{
  height: 150px;
  width: 70%;
}

.servizi{
  height: 350px;
}

.join, .girl{
  width: 50%;
  height: 350px;
}

.sorriso{
  height: 250px;
  width: 250px;
}

.foot_1{
  height: 350px;
}

.column_1, .column_2, .column_3, .column_4{
  width: 25%;
  height: 350px;
}

.lingue{
  height: 100px;
}

.centrato{
  height: 100px;
  width: 100%;
}

.finale{
  height: 100px;
}

.fine_1, .fine_2{
  width: 50%;
  height: 100px;
}
